

:root {
  color-scheme: dark;
}

/* @media (prefers-color-scheme: dark) {
} */

/* div {
  border: 1px solid gray;
} */

/* textarea {
  width: auto;
  height: auto;
} */

textarea {
  width: 99%;
  height: 70vh;
  display: block;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}

