

:root {
  color-scheme: dark;
  display: block;

  /* fallbacks for dark theme */
  background-color: #121212;
  color: white;
}

/* * {
} */

/* @media (prefers-color-scheme: dark) {
} */

input {
  margin-bottom: 5px;
}

fieldset {
  width: 97%;
}

h3,
h4 {
  padding: 0px 0px;
  margin: 8px 10px;
}

pre,
textarea {
  width: 99%;
  height: 22vh;
  display: block;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  /* resize: none; */
}

pre {
  height: auto;
  background-color: #3b3b3b;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

#log span.ok {
  color: white;
}
#log span.warning {
  color: yellow;
}
#log span.error {
  color: red;
}
#log span.placeholder {
  color: #757575;
}



body.busy, .busy * {
  cursor: wait !important;
  /* z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; */
}

.not-busy {
  cursor: auto;
}

